In [2]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame(data={"col1": [0, 1], "col2": pd.Series([1], index=[1])}, index=[0, 1])

In [10]:
type(df['col1'])

pandas.core.series.Series

In [11]:
type(df[['col1']])

pandas.core.frame.DataFrame

In [13]:
df[['col2']]

   col2
0   NaN
1   1.0